CMakeLists.txt.user
*.so
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
bidirectional_a_star
a_star
liba_star.a
liba_star.dylib
liba_star_helper.dylib
.vscode/settings.json
.DS_Store
